form{
    background-color: grey;
    border: 2px solid red;
    margin: 50px 500px;
    border-radius: 10px;
}
label{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: auto;
    color: white;
}
input{
    display: block;
    width: auto;
    margin: auto;
    border-radius: 10px ;
    border: 2px solid yellowgreen;
}
.ip1{
    background-color: aqua;
}
textarea{
    display: block;
    margin: auto;
    width: 175px;
    border: 2px solid yellowgreen;
    border-radius: 10px;
}
input:hover{
    border-color: aqua;
}
.ip1{
    color: white;
}
.ip1:hover{
    background-color: blue;
    cursor: pointer;
    color: white ;
}
.ip2:hover{
    background-color: red;
    cursor: pointer;
    color: white;
}
.required::after{
    content: "(*)";
    color: red;
}